@import "tailwindcss/base";
@import "tailwindcss/components";

div,
section,
article
{
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

a {
  --tw-text-opacity: 1;
  color: rgba(37, 99, 235, var(--tw-text-opacity));
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@import "tailwindcss/utilities";
